.container{
  display: flex;
  flex-direction: column;
  width:100%;
}

#playerOne,
#playerTwo {
  margin: 1em auto;
}

.gameboard {
  display:flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  padding:1em;
  border:solid 1px red;
}

#playerOneBoard .cell,
#playerTwoBoard .cell{
  border: solid 1px blue;
}

.console{
  border:solid 1px green;
}

.messageBox{
  border:solid 2px orange;
}
